@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, night --prefersdark, cupcake;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: light;

 
  --color-base-100: oklch(100% 0 0);      /* pure white */
  --color-base-200: oklch(98% 0.005 240); /* subtle gray */
  --color-base-300: oklch(95% 0.01 240);  /* borders / dividers */
  --color-base-content: oklch(18% 0.03 240); /* near-black text */
  
   
  --color-background: var(--color-gray-200);
  --color-foreground: var(--color-base-content);


 
  --color-primary: oklch(55% 0.30 240);
  --color-primary-content: oklch(98% 0.01 240);

  --color-secondary: oklch(70% 0.25 200);
  --color-secondary-content: oklch(98% 0.01 200);

  --color-accent: oklch(65% 0.25 160);
  --color-accent-content: oklch(98% 0.01 160);

  /* ---------- Neutral ---------- */
  --color-neutral: oklch(40% 0.04 240);
  --color-neutral-content: oklch(98% 0.01 240);

  /* ---------- States ---------- */
  --color-info: oklch(70% 0.20 220);
  --color-info-content: oklch(98% 0.01 220);

  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);

  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);

  --color-error: oklch(65% 0.30 30);
  --color-error-content: oklch(98% 0.01 30);

  
  --radius-selector: 1rem;
  --radius-field: 0.375rem;
  --radius-box: 0.75rem;

  /* ---------- Size ---------- */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* ---------- Border ---------- */
  --border: 1px;

  /* ---------- Effects ---------- */
  --depth: 1;
  --noise: 0;
}


@plugin "daisyui/theme" {
  name: "night";
  default: false;
  prefersdark: true;
  color-scheme: dark;

  --color-base-100: oklch(18% 0.02 240);
  --color-base-200: oklch(22% 0.03 240);
  --color-base-300: oklch(26% 0.04 240);
  --color-base-content: oklch(92% 0.01 240);
  

  
  --color-background: var(--color-gray-900);
  --color-foreground: var(--color-base-content);


  --color-primary: oklch(65% 0.30 240);
  --color-primary-content: oklch(15% 0.02 240);

  --color-secondary: oklch(60% 0.25 200);
  --color-secondary-content: oklch(15% 0.02 200);

  --color-accent: oklch(60% 0.25 160);
  --color-accent-content: oklch(15% 0.02 160);

  --color-neutral: oklch(30% 0.04 240);
  --color-neutral-content: oklch(92% 0.01 240);

  --color-info: oklch(65% 0.20 220);
  --color-info-content: oklch(15% 0.02 220);

  --color-success: oklch(60% 0.25 140);
  --color-success-content: oklch(15% 0.02 140);

  --color-warning: oklch(75% 0.25 80);
  --color-warning-content: oklch(18% 0.05 80);

  --color-error: oklch(60% 0.30 30);
  --color-error-content: oklch(15% 0.02 30);

  /* radius */
  --radius-selector: 1rem;
  --radius-field: 0.375rem;
  --radius-box: 0.75rem;

  /* size */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}



@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));



:root {
  --primary-font: 'Inter', "sans-serif";
  --secondary-font: 'Poppins', "sans-serif";
}

body {
  font-family: var(--primary-font);
}

@theme inline {
  --font-primary: var(--primary-font);
  --font-secondary: var(--secondary-font);
}


button:hover {
  cursor: pointer;
}

button:disabled:hover {
  cursor: default;
}